/resources/public/js/compiled/**
figwheel_server.log
pom.xml
*jar
/lib/
/classes/
/out/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl
.nrepl-port


/*.log
/target
/*-init.clj
/resources/public/js/compiled
/resources/public/vendor
/resources/public/css
out
**/.DS_Store
.idea/
*.iml
.lein-*
/resources/public/js
/resources/public/js/test
node_modules/